html, body {
  margin: 0;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #191923;
  color: #fffffa;
}

#frames {
  position: absolute;
  left: 50vw;
  top: 35vh;
  
  font-size: 2rem;
  
  padding-left: 1rem;
  padding-bottom: .25rem;
  margin-top: 0;
}

#reroll {
  position: absolute;
  left: 85vw;
  top: 35vh;
  
  width: 100px;
	height: 35px;
	padding: 5px;
  
  font-size: 14pt;
  
  color: #fffffa;
  background-color: #191923;
  border: 1.5px solid #ffd800;
	border-radius: 100px;
}

#reroll:hover {
  background-color: #ffd800;
	border: 1.5px solid #191923;
  color: #191923;
  transition: ease .5s;
}

h1 {
  margin-top: 0;
  padding-top: 0;
}

#context {
  position: absolute;
  left: 50vw;
}

